.Box{
    width:645px;
    height: 579px;
    /* background-color: #dfdfdf; */
    margin:100px auto;
  
    border-bottom: 3px solid #9e9e9e;
    border-top: 3px solid #9e9e9e;
    margin-top: 180px;
}
.Target{
    width:500px;
    height: 54px;
 
    margin:0 auto;
    margin-top: 54px;
    border-bottom: 2px solid #9e9e9e;
    font-size: 24px;
    text-align: center;
    line-height: 54px;
}
.reason{
   margin-left: 460px; 
   margin-top: 20px;
}
.input{
    width: 500px;
    height: 250px;
    margin: 0 auto;
}
.inner{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.Select{
    width:500px;
    height: 54px;
    margin: 0 auto;
    border-bottom: 2px solid #9e9e9e;
    font-size: 20px;
    margin-top:30px;
    margin-bottom:30px;
    text-align: center;
    line-height: 54px;
    display: block
}
.button{
    width: 72px;
    height: 38px;
    background-color:yellow;
    margin-left:501px;
    border: solid 1px black;
    margin-top:20px;
    border-radius: 0.5rem;
}
