/* 전체 속성 reset */
* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

/* 컨텐츠 모두 묶는 박스 */
.mainBox {
    width: 1200px;
    margin: 100px auto;
}

/* 컨텐츠 텍스트 */
.mainText {
    font-size: 50px;
}

/* 버튼 첫 줄 */
.firstLine {
    margin-top: 30px;
}

/* 온라인 합주 버튼 */
.online {
    width: 548px;
    height: 328px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    vertical-align: bottom;
    background-color: rgba(217, 217, 217, 0.8);

}

/* 온라인 합주 버튼 클릭 */
.online:hover {
    background-color: rgba(217, 217, 217, 0.5);
}

/* 온라인 합주 텍스트 */
.online p {
    margin-top: 180px;
    margin-left: 20px;
}

/* 오프라인 합주 버튼 */
.offline {
    width: 548px;
    height: 328px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    background-color: rgba(217, 217, 217, 0.8);
}

/* 오프라인 합주 버튼 클릭 */
.offline:hover {
    background-color: rgba(217, 217, 217, 0.5);
}


/* 오프라인 합주 텍스트 */
.offline p {
    margin-top: 180px;
    margin-left: 20px;
}

/* 음원분리 버튼 */
.musicSep {
    width: 550px;
    height: 243px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    background-color: rgba(217, 217, 217, 0.8);
}

/* 음원분리 버튼 클릭 */
.musicSep:hover {
    background-color: rgba(217, 217, 217, 0.5);
}

/* 음원분리 텍스트 */
.musicSep p {
    margin-top: 110px;
    margin-left: 20px;
}

/* 커뮤니티 버튼 */
.community {
    width: 550px;
    height: 243px;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    background-color: rgba(217, 217, 217, 0.8);
}

/* 커뮤니티 버튼 클릭 */
.communnity:hover {
    background-color: rgba(217, 217, 217, 0.5);
}


/* 커뮤니티 텍스트 */
.community p {
    margin-top: 110px;
    margin-left: 20px;
}

/* 공지사항 */

.tit {
    position: absolute;
    left: 0;
    top: 0;
    color: #222;
    font-weight: 400;
}

.link {
    position: relative;
    left: 80px;
}

.link::before {
    content: '';
    display: block;
    position: absolute;
    /* left: -20px; */
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: black;
}

.link a {
    overflow: hidden;
    display: inline-block;
    color: #222;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left:14px;
}

/* .link a strong {
    color: #01738b;
    font-weight: 600;
} */

.date {
    position: absolute;
    right: 85px;
    top: 0;
    color: #666;
    font-family: 'Roboto';
}

.more {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    text-align: right;
    color: #222;
}

.more::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: black;
}

.more .iconset {
    margin-top: -3px;
    margin-left: 5px;
}

.wrap {width: 1180px; position: relative; margin: 0 auto; }