/* 전체 속성 reset */
*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
    color: #000;
  }

.mainBox {
    width: 570px;
    height: 690px;
    background-color: #E1E5E9;
    margin: 200px auto;
    border-radius: 15px;
}

.mainText {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 50px;
}

.dealDate {
    width: 440px;
    height: 40px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
}

.dealDate p {
    display: inline-block;
    margin-left: 20px;
}

.dealInput1 {
    width: 80px;
    margin-left: 20px;
    /* font-size: 10px; */
}

.dealInput2 {
    width: 80px;
}
.dealButton1, .dealButton2 {
    width: 50px;
    height: 30px; 
    background-color: rgba(160, 160, 160, 0.8);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 7px;
}


.search {
    width: 440px;
    height: 40px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.search p {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.searchInput {
    width: 315px;
    height: 30px;
    background-color: rgba(203, 203, 203, 0.5);
    border: 0px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 5px;
}

.buttonBox {
    width: 440px;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
}
.initButton, .searchButton {
    width: 70px;
    height: 30px;
    background-color: #A5A6A6;
    border-radius: 5px;
}

.initButton {
    margin-right: 10px;
}

.searchButton {
    margin-left: 10px;
}

.initButton:hover, .searchButton:hover {
    background-color: rgba(165, 166, 166, 0.5);
}

.contentBox {
    width: 440px;
    height: 360px;
    background-color: rgba(203, 203, 203, 0.5);
    margin: 20px auto;
    border-radius: 5px;
}

.tableText {
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 25px;
}

table {
    /* border: 1px solid; */
    width: 400px;
    height: 300px;
    margin: 20px auto;
    border-radius: 5px;
    border-style: hidden;
    /* box-shadow: 0 0 0 1px #000; */
    background-color: rgba(255, 255, 255, 0.5);
    
    
}

th, td {
    border: 1px solid;
    text-align: center;
    font-size: 15px;
    border-color: rgba(161, 161, 161, 0.5);
}

th {
    height: 40px;
    vertical-align: middle;
    font-weight: bold;
}

td {
    font-size: 13px;
    vertical-align: middle;
    color: rgba(161, 161, 161, 1);
}

.plus, .minus {
    width: 15px;
    height: 15px;
}
